.Art__container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-right: 197px;

  .button {
    width: 124px;
    height: 47px;
    border: 1px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
    background: #fff;

    a {
      text-decoration: none;
      color: #242424;
    }
  }

  .coloum__content {
    display: flex;
    flex-direction: column;

    .prof__cont__art {

      .main__bottom__art {

        .main__bottom__new {

          .art {
            width: 676px;
            height: 399px;
          }

          button {
            font-family: 'Inter', sans-serif;
            color: #8C8C8C;
            font-size: 12px;
            line-height: 12px;
            background: #F7F7F7;
            border: 1px solid #F7F7F7;
            border-radius: 118px;
            width: 100px;
            height: 26px;
            align-items: center;
            margin-bottom: -20px;
            height: fit-content;
            max-width: 100px;
          }

          .h2__text {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 48px;
            line-height: 60px;
            width: 676px;
          }

          .main__panel__bottom__art {
            width: 676px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: #EBEBEB;
            margin-bottom: 40px;

            .p__text {
              font-family: 'IBM Plex Sans', sans-serif;
              color: #8C8C8C;
              font-size: 16px;
              line-height: 26px;
              max-width: 1070px;

              img {
                max-width: 1070px;
                max-height: 600px;
              }
            }

            .state {

              img {
                width: 676px;
                height: 399px;
              }

              h3 {
                margin-top: 64px;
                font-family: 'Playfair Display', serif;
                font-weight: bold;
                font-size: 36px;
                line-height: 26px;
              }

              p {
                font-family: 'IBM Plex Sans', sans-serif;
                color: #8C8C8C;
                font-size: 16px;
                line-height: 26px;
              }

              img {
                width: 676px;
                height: 399px;
              }

              figcaption {
                margin-top: 24px;
                margin-bottom: 48px;
                font-family: 'IBM Plex Sans', sans-serif;
                font-style: italic;
                font-weight: normal;
                font-size: 14px;
                line-height: 14px;
                color: #8C8C8C;
              }
            }

            .main__panel__bottom {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 676px;
              align-content: center;

              .hum_cont {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 359px;

                .main__panel__bottom__human {
                  display: flex;
                  justify-content: space-between;
                  align-content: space-between;
                  align-items: center;
                  height: 70px;

                  .p__human {
                    margin-left: 8px;
                    font-family: 'IBM Plex Sans', sans-serif;
                    color: #8C8C8C;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 14px;
                  }
                }

                .p__human__second {
                  font-family: 'IBM Plex Sans', sans-serif;
                  font-weight: 400;
                  color: #8C8C8C;
                  font-size: 12px;
                  line-height: 12px;
                }

                .main__panel__bottom__human__second {
                  display: flex;
                  align-items: center;

                  .p__human__second {
                    margin-left: 8px;
                  }
                }
              }

              .bot {
                margin-bottom: 10px;

                .but {
                  width: 116px;
                  height: 36px;
                  border: 1px solid #B1B1B1;
                  font-weight: normal;
                  font-size: 12px;
                  line-height: 12px;
                  color: #B1B1B1;
                  border-radius: 0px;
                  background: #fff;
                }
              }
            }

            margin-bottom: 110px;
          }
        }
      }
    }
  }
}
