.main {

  .main__top {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;

    .main__art {
      width: 582px;
      height: 397px;
    }

    .main__panel {
      width: 464px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #EBEBEB;

      button {
        font-family: 'Inter', sans-serif;
        color: #8C8C8C;
        font-size: 12px;
        line-height: 12px;
        background: #F7F7F7;
        border: 1px solid #F7F7F7;
        border-radius: 118px;
        width: 100px;
        height: 26px;
        max-height: 100px;
        overflow: hidden;
      }

      .h2__text {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        max-height: 40px;
        overflow: hidden;
      }

      .p__text {
        font-family: 'IBM Plex Sans', sans-serif;
        color: #8C8C8C;
        font-size: 16px;
        line-height: 26px;
        max-height: 200px;
        overflow: hidden;
      }

      .main__panel__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 342px;

        .main__panel__bottom__human {
          display: flex;
          justify-content: space-between;
          align-content: space-between;

          .p__human {
            margin-left: 8px;
            font-family: 'IBM Plex Sans', sans-serif;
            color: #8C8C8C;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
          }
        }

        .p__human__second {
          font-family: 'IBM Plex Sans', sans-serif;
          font-weight: 400;
          color: #8C8C8C;
          font-size: 12px;
          line-height: 12px;
        }

        .main__panel__bottom__human__second {
          display: flex;
          align-items: center;

          .p__human__second {
            margin-left: 8px;
          }
        }
      }
    }
  }

  .main__bottom {

    .h1__main {
      font-family: 'Playfair Display', serif;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 56px;
    }

    .main__bottom__art {

      .main__bottom__new {
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 40px 0px;

        .second__arts {
          width: 367px;
          height: 260px;
        }

        .main__panel__bottom__art {
          width: 680px;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: #EBEBEB;

          button {
            font-family: 'Inter', sans-serif;
            color: #8C8C8C;
            font-size: 12px;
            line-height: 12px;
            background: #F7F7F7;
            border: 1px solid #F7F7F7;
            border-radius: 118px;
            width: 100px;
            height: 26px;
            max-height: 100px;
            overflow: hidden;
          }

          .h2__text {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            max-height: 40px;
            overflow: hidden;

            a {
              text-decoration: none;
              color: #242424;
            }
          }

          .p__text {
            font-family: 'IBM Plex Sans', sans-serif;
            color: #8C8C8C;
            font-size: 16px;
            line-height: 26px;
            max-height: 75px;
            overflow: hidden;
          }

          .main__panel__bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 342px;

            .main__panel__bottom__human {
              display: flex;
              justify-content: space-between;
              align-content: space-between;

              .p__human {
                margin-left: 8px;
                font-family: 'IBM Plex Sans', sans-serif;
                color: #8C8C8C;
                font-weight: 500;
                font-size: 14px;
                line-height: 14px;
              }
            }

            .p__human__second {
              font-family: 'IBM Plex Sans', sans-serif;
              font-weight: 400;
              color: #8C8C8C;
              font-size: 12px;
              line-height: 12px;
            }

            .main__panel__bottom__human__second {
              display: flex;
              align-items: center;

              .p__human__second {
                margin-left: 8px;
              }
            }
          }
        }
      }
    }

    .bottom__button {
      display: flex;
      justify-content: space-between;

      .prev__next__button {
        margin: 16px 0px 110px 0px;
        border: 1px solid rgb(190, 190, 190);
        width: 96px;
        height: 47px;
        color: rgb(190, 190, 190);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 15px;
        font-family: 'IBM Plex Sans', sans-serif;
        background: #fff;
      }

      .prev__next__button:hover {
        border: 1px solid #242424;
        color: #242424;
      }
    }
  }
}

.h2__no__articles {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
