.inProf__container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;

  .prof__cont__photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FBFBFB;
    width: 366px;
    height: 366px;
    align-items: center;
    align-content: center;

    .line {
      border: 1px solid #F2F2F2;
      box-sizing: border-box;
      width: 346px;
      height: 346px;
      align-content: center;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;

      h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: #242424;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
      }

      p {
        text-align: center;
        margin: auto 35px;
        color: #8C8C8C;
        font-family: 'IBM Plex Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;

      }

      img {
        width: 126px;
        height: 126px;
      }
    }
  }

  .coloum__content {
    display: flex;
    flex-direction: column;

    .prof__cont__art {

      .main__bottom__art {

        .main__bottom__new {
          margin: 0px 0px 40px 0px;

          .main__panel__bottom__art {
            width: 664px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: #EBEBEB;
            margin-bottom: 40px;

            button {
              max-height: 200px;
              overflow: hidden;
              font-family: 'Inter', sans-serif;
              color: #8C8C8C;
              font-size: 12px;
              line-height: 12px;
              background: #F7F7F7;
              border: 1px solid #F7F7F7;
              border-radius: 118px;
              width: 100px;
              height: 26px;
              margin: 25px 0 0 0;
            }

            .h2__text {
              max-height: 80px;
              overflow: hidden;
              font-family: 'Playfair Display', serif;
              font-weight: bold;
              font-size: 32px;
              line-height: 40px;
              margin-bottom: 16px;
              margin-top: 24px;

              a {
                text-decoration: none;
                color: #242424;
              }
            }

            .p__text {
              max-height: 190px;
              overflow: hidden;
              font-family: 'IBM Plex Sans', sans-serif;
              color: #8C8C8C;
              font-size: 16px;
              line-height: 26px;
            }

            .main__panel__bottom {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 342px;

              .main__panel__bottom__human {
                display: flex;
                justify-content: space-between;
                align-content: space-between;
                align-items: center;
                height: 70px;

                .p__human {
                  margin-left: 8px;
                  font-family: 'IBM Plex Sans', sans-serif;
                  color: #8C8C8C;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 14px;
                }
              }

              .p__human__second {
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: 400;
                color: #8C8C8C;
                font-size: 12px;
                line-height: 12px;
              }

              .main__panel__bottom__human__second {
                display: flex;
                align-items: center;

                .p__human__second {
                  margin-left: 8px;
                }
              }
            }
          }
        }
      }
    }
  }

  .but {

    button {
      margin: 15px 0px 0px 15px;
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 15px;
      background: #242424;
      width: 200px;
      height: 50px;
      color: #FFFFFF;
      border: 1px solid #242424;
    }
  }
}
