.wrapper__header {
  border-bottom: 1px solid #EBEBEB;

  .wrapper__second__header {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;

    .header {

      .header__container {
        height: 95px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        a {
          text-decoration: none;
          color: #242424;
        }

        .header__button {
          border: 1px solid #242424;
          font-family: 'IBM Plex Sans', sans-serif;
          background-color: #fff;
          color: #000;
          width: 113px;
          height: 47px;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 15px;

          &:last-child {
            margin-left: 24px;
          }
        }

        .header__button:hover {
          background-color: #000;
          color: #fff;
        }
      }

      .link {
        display: flex;

        p {
          font-family: 'IBM Plex Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 15px;
          color: #8C8C8C;
          margin-left: 40px;
        }

        p:hover {
          color: #242424;
          border-bottom: 1px solid #242424;
        }

        a {
          text-decoration: none;
          color: #242424;
        }
      }

      .header__button__second {
        border: 1px solid #242424;
        font-family: 'IBM Plex Sans', sans-serif;
        background: #242424;
        color: #fff;
        width: 113px;
        height: 47px;

        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 15px;
        margin-left: 64px;
      }
    }
  }
}
