.prof__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 162px;

  .h2__text {
    margin-top: 80px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 64px;
  }

  .prof__cont {
    display: flex;
    justify-content: space-between;

    .prof__cont__photo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #FBFBFB;
      width: 366px;
      height: 382px;
      align-items: center;
      align-content: center;

      .line {
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        width: 346px;
        height: 362px;
        align-content: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;

        img {
          margin-bottom: 32px;
        }

        .photo {
          border: 1px solid #242424;
          width: 164px;
          height: 48px;
          color: #242424;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 16px;
          font-family: 'IBM Plex Sans', sans-serif;
          margin-bottom: 24px;
          background: #fff;
        }

        p {
          color: #242424;
          font-family: 'IBM Plex Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 16px;
          border-bottom: 1px solid #242424;
        }
      }
    }

    .prof_edit {
      display: flex;

      .prof__form {
        display: flex;
        flex-direction: column;
        margin-top: -10px;

        p {
          color: #242424;
          font-family: 'IBM Plex Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 14px;
        }

        .form__content {
          display: flex;
          justify-content: space-between;

          .input {
            border: 1px solid #E1E1E1;
            width: 316px;
            height: 47px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 16px;
            color: #242424;
            text-indent: 16px;
          }
        }

        .form__content__second {

          .input__desc {
            font-family: 'IBM Plex Sans', sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 16px;
            color: #242424;
            border: 1px solid #E1E1E1;
            width: 664px;
            height: 155px;
            margin-bottom: 48px;
            text-indent: 16px;
          }
        }

        .save__button {
          background: #242424;
          font-family: 'IBM Plex Sans', sans-serif;
          font-weight: normal;
          font-size: 16px;
          line-height: 16px;
          width: 164px;
          height: 48px;
          border: 1px solid #242424;;
          color: #FFFFFF;
        }
      }
    }
  }
}
